<h2><%= @cocktail.name %></h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %></li>

  <% end %>
</ul>

<p>Add a new dose</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient %>
<%= f.submit %>
<% end %>

<p><%= link_to("Main menu", root_path) %></p>
